
.chat-title {
  text-align: center;
}

.jumbotron {
  padding:0;
  margin-top: 32px;
}

.jumbotron-container {
  padding-bottom: 10px  !important;
}

.send-button {
  width: 50%;
  margin: 15px;
  padding: 0;
}

.type-message {
  width: 80%;
  padding-top: 10px;
}

.message-box {
  overflow-y:scroll; 
  height:350px;
}

@media (min-width: 750px){
  .message-box {
    overflow-y:scroll; 
    height:500px;
  }
  }

/*-----------------------------------------------------------------------------------*/
/*  Messages
/*-----------------------------------------------------------------------------------*/
.container {
  max-width: 800px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
}

.screen {
  padding: 15px 10px;
}

.message__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  position: relative;
}

.message__item {
  max-width: 50%;
  clear: both;
}

.message__item--bot {
  float: left;
}

.message__item--user {
  float: right;
  text-align: right;
}

.message {
  padding: 8px 15px;
  margin-top: 2px;
  display: inline-block;
  text-align: left;
}

.message--bot {
  background-color: #eee;
  border-radius: 3px 20px 20px 3px;
}

.message--user {
  background-color: #0baaff;
  color: #fff;
  border-radius: 20px 3px 3px 20px;
}
